{% extends "base.html" %}
{% block title %}Page Not Found {% endblock %}

{% block content %}
{% if logged_in %}
    <div class="error-container">
        <h1>404 Not Found</h1>
        <p>お探しのページは存在しないか、削除された可能性があります。</p>

        <a href="/ui/logs" class="btn">My Logsへ戻る</a>

    </div>

{% else %}
    <div class="error-container">
        <h1>404 Not Found</h1>
        <p>お探しのページは存在しないか、削除された可能性があります。</p>

        <a href="/ui/login" class="btn">ログインページへ</a>
    </div>

{% endif %}
{% endblock %}