{% extends "base.html" %}
{% block title %}Discographies{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/discographies.css') }}">
{% endblock %}

{% block content %}
<header class="page-header">
    <h1 class="page-title">Discographies</h1>
    <button id="sidebarToggle" class="toggle-btn" type="button">☰</button>
</header>

{% if user and user.is_admin %}
<p style="margin-top:12px;">
    <a href="/ui/discographies/new">新規登録</a>
</p>
{% endif %}

<div class ="disco-container">
    {% for d in discographies %}

        <!-- disco card start -->
        <div class="disco-card">
            <div class="disco-header">

                {% if d.discography_link is none %}
                <!-- リンクなしの場合はそのまま表示 -->
                <strong>{{ d.discography_title }}</strong>
                {% else %}
                <!-- リンクありの場合はタイトルを踏んだらサービスのリンクに移る -->
                <strong><a href={{ d.discography_link }} target="_blank" rel="noopener noreferrer">{{ d.discography_title }}</a></strong>
                {% endif %}

                {% if user.is_admin %}
                    <div class="disco-action">
                        <form method="get" action="/ui/discographies/{{ d.discography_id }}/edit">
                            <button type="submit" class="action-btn">編集</button>
                        </form>
                    </div>
                {% endif %}
            </div>

            <div class="disco-info">
                リリース: {{ d.released_date }}</br>
                タイプ: {{ d.discography_type }}</br>

                {% if d.discography_num is none %}
                曲数: 不明 </br>
                {% else %}
                曲数: {{ d.discography_num }}曲</br>
                {% endif %}

                {% if d.playtime_seconds is none %}
                再生時間: 不明 </br>
                {% else %}
                再生時間: {{ (d.playtime_seconds / 60) | int }}分 </br>
                {% endif %}
            </div>

        </div>
    {% endfor %}
</div>

{% endblock %}
