{% extends "base.html" %}
{% block title %}Logs{% endblock %}
{% block content %}
<h1>My Logs</h1>

<p>ログイン中: {{ user.display_name }} @{{ user.login_id }}</p>

<div class="log-container" style="max-width: 720px; margin: 0 auto;">
  {% for log in logs %}
    <!-- log card start -->
    <div class="log-card" style= "border: 1px solid #ddd; border-radius: 12px; padding: 12px 14px; margin: 12px 0;">

      <!-- header start-->
      <div class="log-header" style="display: flex; gap: 8px; align-items: baseline; flex-wrap: wrap;">
        <strong>{{ log.user.display_name or "NoName" }}</strong>
        <span style="color: #666;">@{{ log.user.login_id }}</span>
        <span style="color: #999; margin-left: auto">
          {{ log.listened_at.strftime("%Y-%m-%d %H:%M") }}
        </span>
        <!--ボタンの大きさをそろえたい-->
        <div class="log-action" style="display: inline-flex; gap: 8px; align-items: center;">
          <a href="/ui/logs/{{ log.log_id }}/edit"
          style="display:inline-block; padding: 6px 10px; border: 1px solid #ddd; border-radius: 999px; text-decoration: none;">
          編集
        </a>

          <form method="post" action="/ui/logs/{{log.log_id}}/delete"
                style="display:inline; margin: 0;"
                onsubmit="return confirm('このログを削除します。よろしいですか？');">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <button type="submit"
                    style="padding: 6px 10px; border: 1px solid #ddd; border-radius: 999px; background: transparent; cursor: pointer;">
                    削除
            </button>
          </form>
        </div>
      </div>
      <!-- header end-->

      <!-- title start-->
      <div style="margin-top: 8px; font-size: 1.05rem;">🎧{{ log.discography.discography_title }}</div>
      <!-- title end-->

      <div class="log-comment">{{ log.comment or ""}}</div>
      
    </div>
    <!--log card end-->

  {% endfor %}
</div>

<p style="margin-top:12px;">
  <a href="/ui/logs/new">新規作成へ</a>
</p>
{% endblock %}
